
<!DOCTYPE HTML>

<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Photo &mdash; Free Website Template, Free HTML5 Template </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<!-- <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet"> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="__CSS__/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="__CSS__/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="__CSS__/bootstrap.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="__CSS__/style.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="__CSS__/magnific-popup.css">

	<!-- Modernizr JS -->
	<script src="__JS__/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="__JS__/respond.min.js"></script>
	<![endif]-->

	</head>
<body>
<!-- <div class="adcenter"><script src="http://www.cssmoban.com/include/new/ggad2_728x90.js"></script></div> -->
	

	<div id="fh5co-page">
	
	<div class="aside-toggle btn-circle">
		<a href="#"><span></span><em>About</em></a>
	</div>
	<div class="back-to-home btn-circle">
		<a href="{:U('index')}"><span></span><em>Back</em></a>
	</div>

	<div id="fh5co-aside">
		<div class="image-bg"></div>
		<div class="overlay"></div> 
		<div class="row">
			<div class="col-md-12">
				<div id="fh5co-aside-inner">
					<div class="row" id="fh5co-bio">
						<div class="col-md-12">
							<h2>About Me</h2>
						</div>
						<div class="col-md-6">
							<p>Sint, <a href="#">consectetur</a>, fugit. Sed, blanditiis. Autem quae perferendis totam provident, consequuntur inventore reiciendis vitae suscipit rerum repellendus facere voluptatem tenetur iure praesentium corrupti asperiores eos laborum debitis eaque maiores magnam nisi exercitationem sunt maxime! At eligendi deserunt, iusto natus molestias!</p>
						</div>
						<div class="col-md-6">
							<p>Quas praesentium dolore unde delectus, nemo accusantium, qui ab illum debitis assumenda tempore molestias ipsam, eveniet repellendus officiis in vel, explicabo quos necessitatibus atque doloremque. Quae maiores delectus, magnam nam.</p>
						</div>
						<div class="col-md-12 fh5co-social">
							<a href="#"><i class="icon-envelope"></i></a>
							<a href="#"><i class="icon-twitter"></i></a>
							<a href="#"><i class="icon-linkedin"></i></a>
							<a href="#"><i class="icon-instagram"></i></a>
							<a href="#"><i class="icon-google-plus"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="fh5co-image-grid">
		

		<div class="grid">
		  <div class="grid-sizer"></div>
		  <volist name='data' id='v'>
		  <div class="grid-item item animate-box" data-animate-effect="fadeIn">
		  		<a href="{$v.image|get_cover='path'}" class="image-popup" title="{$v.describe}">
					<div class="img-wrap">
						<img src="{$v.image|get_cover='path'}" alt="" class="img-responsive">
					</div>
					<div class="text-wrap">
						<div class="text-inner popup">
							<div>
								<h2>{$v.describe}</h2>
							</div>
						</div>
					</div>
				</a>
		  </div>
		</volist>



		</div>

		
	</div>

	</div>
	
	<!-- jQuery -->
	<script src="__JS__/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="__JS__/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="__JS__/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="__JS__/jquery.waypoints.min.js"></script>

	<!-- Magnific -->
	<script src="__JS__/jquery.magnific-popup.min.js"></script>
	<script src="__JS__/magnific-popup-options.js"></script>
	<!-- Isotope & imagesLoaded -->
	<script src="__JS__/isotope.pkgd.min.js"></script>
	<script src="__JS__/imagesloaded.pkgd.min.js"></script>
	<!-- GSAP  -->
	<script src="__JS__/TweenLite.min.js"></script>
	<script src="__JS__/CSSPlugin.min.js"></script>
	<script src="__JS__/EasePack.min.js"></script>

	<!-- MAIN JS -->
	<script src="__JS__/main.js"></script>

	</body>
</html>

