<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<style>
body{
	padding:3%;
}
</style>
<title>客戶排期</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
<div class="btn-group" role="group" style='margin-bottom: 10px;'>
  <button type="button" class="btn btn-default" style='margin-right: 5px;'><a class="btn" href="{:U('view',array('status'=>'weekly'))}">一周排期</a></button>
  <button type="button" class="btn btn-default"><a class="btn" href="{:U('view',array('status'=>'weekly'))}">一月排期</a></button>
</div>
<table class="table table-bordered">
      <thead>
        <tr>
          <th>排期</th>
          <th>客戶</th>
          <th>图案说明</th>
          <th>預約時間</th>
        </tr>
      </thead>
      <tbody>
        <volist name="data" id="vo">
        <tr>
          <th scope="row">{$vo.reservetime|date='Y-m-d',###}</th>
          <td>{$vo.name}</td>
          <td>{$vo.explain}</td>
          <td>{$vo.reservetime|date='H:i',###}</td>
        </tr>
      </volist>
      </tbody>
    </table>
</body>
</html>