<extend name="Public/base" />

<block name="body">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<div class="form-item cf" >
	<div class="main-title cf">
		<h2>添加主頁分类</h2>
	</div>
	<form action="{:U('doAddstatistic')}" method="post" class="form-horizontal" id="form">
			<div class="controls">
				客戶<input type="text" style="width:300px; margin-left:45px;"class="text input-large" name="name" value="">
			</div>
			<div class="controls">
				電話<input type="text" style="width:300px; margin-left:45px;"class="text input-large" name="phone" value="">
			</div>
			
			<div class="controls">
						<input type="file" id="upload_picture">
						<input type="hidden" name="pic" id="icon" value=""/>
						<div class="upload-img-box">
						</div>
					</div>
			<div class="controls">
				圖片說明<input type="text" style="width:300px; margin-left:45px;"class="text input-large" name="explain" value="">
			</div>
			<div>
                <div class="row">
                        <label>預定时间</label>
                        <input type="text" id="time-reserve" name="reservetime" class="text input-4x" value="" placeholder="預定时间" />
                            <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
            <div class="controls">
				定金<input type="text" style="width:300px; margin-left:45px;"class="text input-large" name="reservefee" value="">
			</div>
			<div class="controls">
				總價<input type="text" style="width:300px; margin-left:45px;"class="text input-large" name="allfee" value="">
			</div>
			<div>
                <div class="row">
                        <label>完成时间</label>
                        <input type="text" id="time-ending" name="endingtime" class="text input-4x" value="" placeholder="完成时间" />
                            <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
            <div class="controls">
				製作時長<input type="text" style="width:300px; margin-left:45px;"class="text input-large" name="finishtime" value="">
			</div>
			<div class="controls">
				麻藥費<input type="text" style="width:300px; margin-left:45px;"class="text input-large" name="medicinfee" value="">
			</div>

                    <div class="controls">
                        <label class="radio">
                                    <input type="radio" value="0" name="finish" checked="checked">未完成</label>
                                    <label class="radio">
                                    <input type="radio" value="1" name="finish" >完成</label>
                </div>
			<div class="controls">
				來源渠道<input type="text" style="width:300px; margin-left:45px;"class="text input-large" name="channel" value="">
			</div>
			<div class="controls">
				備註<input type="text" style="width:300px; margin-left:45px;"class="text input-large" name="other" value="">
			</div>
			<div class="form-item">
			</br></br>
			<button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>	
			<button style="margin-left:30px;"class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		    </div>
		    </form>
		    <script type="text/javascript">
					//上传图片
				    /* 初始化上传插件 */
					$("#upload_picture").uploadify({
				        "height"          : 30,
				        "swf"             : "__STATIC__/uploadify/uploadify.swf",
				        "fileObjName"     : "download",
				        "buttonText"      : "上传图片",
				        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
				        "width"           : 120,
				        'removeTimeout'	  : 1,
				        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
				        "onUploadSuccess" : uploadPicture,
				        'onFallback' : function() {
				            alert('未检测到兼容版本的Flash.');
				        }
				    });
					function uploadPicture(file, data){
				    	var data = $.parseJSON(data);
				    	var src = '';
				        if(data.status){
				        	$("#icon").val(data.id);
				        	src = data.url || '__ROOT__' + data.path;
				        	$("#icon").parent().find('.upload-img-box').html(
				        		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
				        	);
				        } else {
				        	updateAlert(data.info);
				        	setTimeout(function(){
				                $('#top-alert').find('button').click();
				                $(that).removeClass('disabled').prop('disabled',false);
				            },1500);
				        }
				    }
					</script>

		</div>
</block>
<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">

<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>

<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
	//导航高亮
	highlight_subnav('{:U('index')}');
	$('#menutype select').change(function(){

   var type = $(this).val();

   if(type =="view"){

    $('#keyinput input').val('');

    $('#keyinput').css('display','none');

    $('#urlinput').css('display','block');

   }else{

    $('#urlinput input').val('');

    $('#keyinput').css('display','block');

    $('#urlinput').css('display','none');

   }

})

$(function(){
     $('#time-start').datetimepicker({
        format: 'yyyy-mm-dd h',
        language:"zh-CN",
        startView:3,
        minView:'day',
        autoclose:true
    });
})

$(function(){
     $('#time-reserve').datetimepicker({
        format: 'yyyy-mm-dd h',
        language:"zh-CN",
        startView:3,
        minView:'day',
        autoclose:true
    });
})
$(function(){
     $('#time-ending').datetimepicker({
        format: 'yyyy-mm-dd h',
        language:"zh-CN",
        startView:3,
        minView:'day',
        autoclose:true
    });
})
</script>
</block>

