<extend name="Public/base"/>

<block name="style">

<style>

</style>

</block>

<block name="body">

	<div class="main-title">

		<h2>主頁分類</h2>

	</div>



	<div class="cf">
		<a class="btn" href="{:U('addIndex')}">添加</a>
	</div>

	<div class="data-table table-striped">

		 <table>

			<thead>

				<tr>

                    <th>ID</th>
					<th>标题</th>
					<th>副标题</th>
					<th>图片</th>
					<th>排序</th>
					<th>操作</th>

				</tr>

			</thead>

			<tbody>

				<notempty name="data">

					<volist name="data" id="vo">
					<tr>
						<td width="3%">{$vo.id}</td>
						<td width="10%"><a href="{:U('single',array('pid'=>$vo['id']))}">{$vo.name}</a></td>
						<td width="10%"><a href="{:U('single',array('pid'=>$vo['id']))}">{$vo.describe}</a></td>
						<td ><a href="{:U('single',array('pid'=>$vo['id']))}"><img width="10%" src="{$vo.image|get_cover='path'}"/></a></td>
						<td width="10%">{$vo.orderlist}</td>
						<td width="10%">
                        <a title="编辑" href="{:U('editIndex',array('id'=>$vo['id']))}">编辑</a>
						<a href="{:U('delIndex',array('id'=>$vo['id']))}" class="confirm ajax-get">删除</a>
                        </td>

					</tr>
					</volist>

				<else/>

				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>

				</notempty>

			</tbody>

		</table>

        <!-- 分页 -->
	</div>

</block>

<block name="script">

<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

</script>

</block>