<extend name="Public/base"/>

<block name="style">

<style>
tr,td{
	border:1px solid black;
	height: 40px;
}
.data-table thead th, .data-table tbody td {
     border-bottom-color: black; 
}
.data-table thead th, .data-table tbody td {
    padding: 8px;
    height: 50px;
    line-height: 19px;
    font-weight: 400;
    text-align: center;
}
</style>

</block>

<block name="body">

	<div class="main-title">

		<h2>客戶排期表(共 {$count} 位客戶排期)</h2>

	</div>



	<div class="cf">
		<a class="btn" href="{:U('schedul',array('status'=>'weekly'))}">一周排期</a>
		<a class="btn" href="{:U('schedul',array('status'=>'monthly'))}">一月排期</a>
	</div>

	<div class="data-table table-bordered">

		 <table>

			<thead>

				<tr>
					<th>排期</th>
					<th>客戶</th>
					<th>時間</th>
					<th>圖片說明</th>
					<th>備註</th>
					<th>操作</th>

				</tr>

			</thead>

			<tbody>

				<notempty name="data">

					<volist name="data" id="vo">
					<tr>
						<td width="10%"><a href="{:U('viewStatistic',array('id'=>$vo['id']))}">{$vo.reservetime|date='Y-m-d',###}</a></td>
						<td width="10%"><a href="{:U('viewStatistic',array('id'=>$vo['id']))}">{$vo.name}</a></td>
						<td width="10%"><a href="{:U('viewStatistic',array('id'=>$vo['id']))}">{$vo.reservetime|date='H:i',###}</a></td>
						<td>{$vo.explain}</td>
						<td width="10%">{$vo.other}</td>
						<td width="10%">
                        <a title="编辑" href="{:U('editStatistic',array('id'=>$vo['id']))}">编辑</a>
						<a href="{:U('delStatistic',array('id'=>$vo['id']))}" class="confirm ajax-get">删除</a>
                        </td>

					</tr>
					</volist>

				<else/>

				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>

				</notempty>

			</tbody>

		</table>

        <!-- 分页 -->
	</div>

</block>

<block name="script">

<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

</script>

</block>